<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- xml 이름상관 없음. *.xml로 설정했으니까 -->
<!-- 이 xml이 어떤 interface와 연결되는지 설정 -->
<mapper namespace="com.quiz.bank.dao.InquiryBoardDAO">

	<!-- 문의글쓰기 -->
	<insert id="inquiryWrite" 
		useGeneratedKeys="true"
		keyProperty="board_no"
		keyColumn="board_no"
		parameterType="com.quiz.bank.dto.InquiryBoardDTO">
		INSERT INTO Inquiry_board (user_id,title,content) values (#{user_id},#{title},#{content})
	</insert>
	
	
	
	
	<!-- 문의게시판 리스트 호출 -->
	<select id="inquirylist" resultType="com.quiz.bank.dto.InquiryBoardDTO">
	SELECT * FROM inquiry_board JOIN board_category ON inquiry_board.board_cate_no = board_category.board_cate_no
	</select>
	
	<select id="allCount" resultType="int">
		SELECT COUNT (board_no) FROM inquiry_board
	</select>
	
	
	<!-- 문의게시판 상세보기 -->
	<select id="inquirydetail" resultType="com.quiz.bank.dto.InquiryBoardDTO">
		SELECT * FROM inquiry_board WHERE board_no = #{param1}
	</select>
	
	<!-- 문의게시판 조회수 올리기 -->
	<update id="inquiryupHit">
		UPDATE inquiry_board SET bHit = bHit+1 WHERE board_no = #{param1}
	</update>
	
	
	<!-- 문의게시판 삭제(비노출) -->
	<update id="exposure">
		UPDATE inquiry_board SET del_flag= #{del_flag} WHERE board_no = #{board_no}
	</update>
	
	

	


</mapper>