<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- xml 이름상관 없음. *.xml로 설정했으니까 -->
<!-- 이 xml이 어떤 interface와 연결되는지 설정 -->
<mapper namespace="com.quiz.bank.dao.QuizBankDAO">

	
	<!-- 1. 시험 리스트 불러오기 -->
	<select id="list" resultType="TestCategory">
		SELECT test_cate_no, test_cate FROM test_category 
			WHERE del_flag = 'false'
			ORDER BY test_cate_no DESC
	</select>
	
	<!-- 2. 시험 상세보기 리스트 불러오기 -->
	<select id="detail" resultType="TestList">
		SELECT * FROM test_list 
			WHERE test_cate_no=#{param1} AND del_flag = 'false'
			ORDER BY test_year DESC
	</select>

	<!-- 2-(1). 시험명 가져오기 -->
	<select id="test_name" resultType="TestCategory">
		SELECT test_cate, test_cate_no FROM test_category 
			WHERE del_flag = 'false' AND test_cate_no=#{param1}
	</select>

	<!-- 3.시험보기 페이지 및 시험문제 가져오기 -->
	<select id="testFrom" resultType="hashmap">
		SELECT * FROM quiz
			WHERE del_flag= 'false' AND test_no=#{param1}
			ORDER BY quiz_index
	</select>

	<!-- 3-1. 문제통계 -->
	<select id="quizAllCnt" resultType="hashmap">
		SELECT quiz_no , count(quiz_no) as 'all' FROM quiz_solve  GROUP BY quiz_no
	</select>
	
	<select id="quizRightCnt" resultType="hashmap">
		SELECT quiz_no , count(quiz_no) as 'right' FROM quiz_solve  WHERE correct_wrong = TRUE GROUP BY quiz_no
	</select>
	
	<!-- 3-2. 사진값 가져오기 -->
	<select id="quiz_Photo" resultType="hashmap">
		SELECT new_filename, board_no FROM photo WHERE board_name = 'quiz'
	</select>
	
	<!-- 3-3. 북마크 값 가져오기 -->
	<select id="quiz_bookmark" resultType="hashmap">
		select * from bookmark where user_id =#{param1}
	</select>
	<!-- 4. 시험명 검색기능 -->
	<select id="search" parameterType="hashmap" 
		resultType="TestCategory">
		SELECT test_cate_no, test_cate FROM test_category WHERE
				test_cate LIKE CONCAT('%',#{keyword},'%') AND del_flag = 'false' 
	</select>
	
	<!-- 5-1 북마크 여부 확인 -->
	<select id="bookMark2" resultType="String" >
		SELECT bookmark_quiz_no FROM bookmark WHERE bookmark_quiz_no = #{param1} AND user_id = #{param2}
	</select>
	
	<!-- 5-1 북마크 삭제 -->
	<delete id="bookMark_delete">
		DELETE FROM bookmark WHERE bookmark_quiz_no = #{param1} AND user_id = #{param2}
	</delete>
	
	<!-- 5-1 북마크 추가 -->
	<insert id="bookMark_Insert" >
		INSERT INTO bookmark(user_id,bookmark_quiz_no) VALUES (#{param1}, #{param2})
	</insert>


<!-- 이전 코드
	 6-2. 시험 결과 테이블
	<insert id="test_result" parameterType="TestResult">
		INSERT INTO test_result(user_id, test_no, elapse_time, score)
			VALUES(#{user_id}, #{test_no}, #{elapse_time}, #{score})
	</insert>
-->

	<!-- 6-1. 시험 결과 테이블(test_result_no) 받아오기 -->
	<insert id="test_result" parameterType="TestResult" useGeneratedKeys="true" keyProperty="test_result_no" keyColumn="test_result_no">
		INSERT INTO test_result(user_id, test_no, elapse_time, score)
			VALUES(#{user_id}, #{test_no}, #{elapse_time}, #{score})
	</insert>
	
	<!-- 6-2. 개별 문제풀이 결과테이블  --> 
	<insert id="quiz_solve" parameterType="QuizSlove">
		INSERT INTO quiz_solve(user_id, quiz_no, correct_wrong, test_prac_flag)
			VALUES(#{user_id}, #{quiz_no}, #{correct_wrong}, #{test_prac_flag})
	</insert>
	
	<!-- 6-3. 시험 결과테이블에서 score 업데이트 -->
	<update id="test_result_scoreUpdate" parameterType="int">
		UPDATE test_result SET score = #{param1} WHERE test_result_no = #{param2}
	</update>
	
	<!-- 9. 결과가져오기 -->
	 <select id="resultFrom" resultType="hashmap">
		SELECT * FROM quiz INNER JOIN quiz_solve USING (quiz_no)
			WHERE test_prac_flag = #{param1} AND del_flag= 'false';
	</select>
	<!-- 
	<select id="resultFrom" resultType="hashmap">
		select * from quiz inner join quiz_solve using (quiz_no) where test_prac_flag = #{param1} and del_flag= 'false'
	</select>
	 -->
	
	<!-- 9-1.시험결과 가져오기 -->
	<select id="getTestResult" resultType="hashmap">
		select * from test_result where test_result_no= #{param1}
	</select>
	
	<!-- 9-2. 시험 기본 정보들 가져오기 -->
	<select id="test_info" resultType="hashmap">
		SELECT tl.test_cate_no, tl.test_no, tl.test_year, tl.test_month, tl.test_count , tl.test_passrate, tl.test_time, tl.test_fullscore , tl.del_flag  AS test_list_del, tl.pass_criterion,
			 tc.test_cate, tc.del_flag AS test_cate_del, tc.pass_criterion AS test_cate_pass,
			 sc.subject_cate , sc.del_flag AS subject_cate_del, sc.pass_criterion AS subject_category_pass 
			 FROM test_list tl 
			 INNER JOIN test_category tc USING (test_cate_no) 
			 INNER JOIN subject_category sc USING (test_cate_no) 
			 WHERE test_cate_no= #{param1} AND test_no= #{param2} LIMIT 1
	</select>
</mapper>